################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PresentationToolkit/PresentationToolkit.Core/bin/Debug
/PresentationToolkit/PresentationToolkit.Core/obj/Debug
